.pkm{
    background-color: rgb(94, 94, 94);
    color: aliceblue;
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 30px;
}
.ball{
    height: 2rem;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}