header {
    padding: 10px;
    position: sticky;
    background-color: rgb(211, 211, 211);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
}
.indi:link{
    color: black;
}
.indi:visited {
    color: black;
}
.indi:hover{
    color: rgb(255, 0, 0);
}
.charmander:link{
    color: black;
}
.charmander:visited {
    color: black;
}
.charmander:hover{
    color: rgb(255, 162, 0);
}
.squirtle:link{
    color: black;
}
.squirtle:visited {
    color: black;
}
.squirtle:hover{
    color: rgb(0, 208, 255);
}
.bulbasaur:link{
    color: black;
}
.bulbasaur:visited {
    color: black;
}
.bulbasaur:hover{
    color: rgb(19, 157, 9);
}