*{
    font-family: 'Courier New', Courier, monospace;
}
.atila{
    padding-left: 10%;
    padding-right: 10%;
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 1000;
}
h2 {
    font-size: 1.6rem;
    font-weight: bold;
}
.back{
    width: 100%;
}